/*обнуление*/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.wrapper{
    padding: 0px;
}
.container{
    max-width: 97%;
    margin: 0px auto;
    padding: 0px 10px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
}
.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_slogan {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #5B558C;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #504979;
    position: relative;
    z-index: 3;
}
.menu_list{
    position: relative;
    z-index: 3;
}
.header_logo{
    width: 156px;
    z-index: 3;
}
.header_logo a{
    display: block;
}
.header_logo img{
    max-width: 100%;
    display: block;
}
.language{
    position: relative;
    z-index: 3;
    margin-right: 10px;
}

.container_content{
    width: 1720px;
    margin: 0px auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.section_1{
    margin-top: 80px;
    background-color: #fcfcfd;
}
.section_1_body{
    padding-top: 45px;
    display: flex;
    position: relative;
}
.section_1_left{
    margin: 0px 200px;
    max-width: 800px;
}
.section_1_titel{
    color: #504877;
    font-size: 60px;
    margin: 0px 0px 70px 0px;
}
.section_1_text{
    font-size: 25px;
    max-width: 500px;
}
.buttons{
    display: flex;
    margin: 50px 0px 50px 0px;
}
.section_1_btn{
    background-color: #504877;
    margin: 0px 20px 0px 0px;
    border-radius: 15px;
    width: 220px;
    height: 70px;
}
.section_1_btn1 a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    background: url("img/appstore.png");
    background-size: cover
}

.section_1_right{
    position: absolute;
    right: 0;
    bottom: 0;
    
}
.content{
    max-width: 1300px;
    margin: 0px auto;
    text-align: center;
    padding: 20px 0px;
}
.about_titel{
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    margin: 80px 0px 100px 0px;
    color: #504979;
}
.flex_items{
    display: flex;
}

.item{
     flex: 0 1 33.333%;
     padding: 20px;
     border-radius: 25px;
    }
.item:hover{
    box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
.item img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
.item_titel{
    color: #504877;
    margin: 35px auto;
    font-size: 20px;
    max-width: 290px;
}
.item p{
    line-height: 30px;
}

.protect{
    background-color: #fcfcfd;
}
.protect_titel{
    margin: 100px 0px;
    font-size: 55px;
    color: #504979;
}
.protect_item{
    flex: 0 1 25%;
}
.protect_item img{
    margin: auto;
}
.flex_items_functional{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.func_item{
    flex: 0 1 25%;
    padding: 20px 50px;
}
.func_item img{
    width: 80px;
    height: 80px;
    margin: 30px 0px;
    transition: all 0.3s ease 0s;
}
.flex_item_container{
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 30%);
}
.func_item img:hover{
    transform: scale(1.15);
}
.image-slider{
    display: none;
}
.partner_item{
    flex: 0 1 20%;
    padding: 0px 10px;
}
.item_slide,
.item_container{
    height: 130px;
    width: 230px;
    padding: 10px;
    background-color: #eef4f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_slide{
    margin: 0px auto;
}
.subtitel{
    width: 785px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 40px;
    color: #504979;
}
.p{
display: none;
}
.p_s{
    display: none;
}
.not_p{
    display: block;
}
.item_container img{
    width: 90%;
}
.item_container:hover .p{
    display: block;
}
.img_p{
    display: none;
    }
.item_container:hover img{
    display: none;
}

body.mouse .item_slide:hover .p_s{
    display: block;
}
body.mouse .item_slide:hover img{
    display: none;
}
.partner_btn{
    margin-top: 50px;
}
.partner_btn a{ 
    text-decoration: none;
    background: #8573ED;
    border-radius: 82px;
    width: 265px;
    text-align: center;
    line-height: 62px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
}
.blog{
    background-color: #fcfcfd;
}
.blog_item{
    flex: 0 1 33.3333%;
    padding: 0px 15px;
}
.item_container_blog{
    border-radius: 50px;background-color: #ffffff;

}
.item_container_blog img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
}
.blog_subtitel{
    color: #504877;
    text-align: left;
    margin: 25px 10px;
    font-size: 25px;
}
.item_container_blog p{
    margin: 0px 30px 20px 10px;
    text-align: left;
    line-height: 35px;
}
.date_blog{
    color: #d6d4e4;
    text-align: right;
    padding: 0px 70px 20px 0px;
}
.blog_btn{
    margin-top: 50px;
}
.blog_btn a{ 
    text-decoration: none;
    background: #eeecf9;
    border-radius: 82px;
    width: 265px;
    text-align: center;
    line-height: 62px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    display: block;
}

.bottom_podderjka{
max-width: 1320px;
margin: 0px auto;
}
.flex_item_podd{
   flex:0 1 50%;
}
.msg{
   border-radius: 30px;
   padding: 20px 35px;
   text-align: left; 
   margin: 20px 15px 0px 15px;
   background-color: #fafafa;
   max-width: 80%;
   flex: 0 1 50%;

}
.msg2{
    position: relative;
    right: -50px;
    background-color: #e9f4fe;
}
.date_msg{
    margin: 5px 0px 0px 0px;
    text-align: right;
    color: #d9d5d5;
}
.p_subtitel{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 40px 0px;
    text-align: center;
    color: #504979;
}
.teleg_flex{
    justify-content: center;
    align-items: center;
}
.teleg_flex img{
    width: 88px;
    height: 88px;
}
.download{
    background: url("img/bg_telephone.png") center / cover no-repeat;
    background-color: #776add;
}
.content_download{
    max-width: 510px;
    margin: 60px 0px;
    position: relative;
    left: 50px;
}
.titel_by{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    z-index: 20;
    width: 480px;
    max-width: 100%;
    color: #FFFFFF;
}

.footer{
    padding: 50px 0px 0px 0px;
}
.flex_item_footer{
    flex: 0 1 33.333%
}
.footer_contact{
    max-width: 50%;
    position: relative;
    right: -43%;
    margin: 30px 0px 0px 0px;
    text-align: left;
}
.footer_contact p {
    margin: 20px 0px;
}

.menu_footer li{
    list-style-type: none;
    margin-bottom: 32px;
    font-style: normal;
    font-size: 18px;
    color: #504979;
}
.teleg_flex_footer{
    margin: 0px 0px 0px 50px;
}
.teleg_flex_footer img{
    margin: 20px 20px 0px 0px;
    width: 48px;
    height: 48px;
}
.original{
    margin: 20px auto;
    text-align: center;
    color: #999;
    font-size: 24px;
}
.original a{
    color: #999;
}

