@media (max-width:1450px) {
    .menu li a{
        font-size: 16px;
    }
    .image-slider{
        display: block;
    }
    .protect_items{
        display: none;
    }
    .section_1_left{
        margin: 0px 100px;
        max-width: 800px;
    }
    .section_1_btn{
        width: 180px;
        height: 50px;
    }
}
@media (max-width:1200px) {
    .section_1_left{
        margin: 0px 20px;
        max-width: 700px;
    }
    .section_1_text{
        font-size: 20px;
        max-width: 400px;
    }
    
}




@media (max-width:1000px){
    body.lock{
        overflow: hidden;
    }
    .menu_list li a{
        font-size: 20px;
        position: relative;
        z-index: 3;
    }
     .header_body{
         height: 50px;
     }
     .header_burger{
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         z-index: 3;
     }
     .header_burger span{
         background-color: #000000;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         top: 9px;
         transition: all 0.3s ease 0s;
     }
     .header_burger::before,
     .header_burger::after{
         content: '';
         background-color: #000000;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
     }
     .header_burger::before{
         top:0;
     }
     .header_burger::after{
         bottom: 0;
     }
     .header_burger.active span{
         display: none;
     }
     .header_burger.active::before{
         transform: rotate(45deg);
         top: 9px;
     }
     .header_burger.active::after{
         transform: rotate(-45deg);
         bottom: 9px;
     }
     .menu{
         position: fixed;
         top: -200%;
         left: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         transition: all 0.3s ease 0s;
         background-color: #ffffff;
         padding: 70px 10px 20px 10px;
     }
     .menu.active{
         top: 0;
         overflow: auto;
     }
     .menu_list{
         display: block;
         margin: 0px 0px 40px 0px;
     }
     .menu_list li{
         margin: 0px 0px 20px 0px;
         
     }
     .submenu_list{
        position: relative;
        left: 0;
        top: 0;
    }
    .section_1{
        margin-top: 50px;
    }
    .section_1_body{
        position: relative;
    }
    .section_1_btn{
        background-color: #504877;
        margin: 0px 20px 0px 0px;
        border-radius: 15px;
        width: 170px;
        height: 50px;
    }
    .section_1_text{
        font-size: 18px;
        max-width: 100%;
    }
    .section_1_body{
        padding-top: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .section_1_titel{
        font-size: 45px;
        max-width: 800px;
        margin: 0px auto 50px auto;
    }
    .section_1 .container_content{
        position: relative;
    }
    .section_1_left{
        position: relative;
        max-height: 100%;
        z-index: 2;
        max-width: 100%;
        background-color: #fcfcfd;
        opacity: 0.9;
        margin: 0px;
        height: 400px;
    }
    .section_1_right{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .buttons{
        align-items: center;
        justify-content: center;
    }
    .item_container{
        height: 100px;
        width: 170px;
        padding: 10px;
    }
    .about_titel{
        font-size: 40px;
        margin: 20px 0px 80px 0px
    }
    .item_titel{
        font-size: 18px;
    }
    .item p{
        font-size: 14px;
    }
    .protect_titel{
        font-size: 40px;
        margin: 80px 0px;
    }
    .blog_subtitel{
        font-size: 20px;
    }
    .item_container_blog p{
        font-size: 16px;
        line-height: 25px;
    }
 }

 
@media (max-width:768px){
    .item p{
        line-height: 25px;
    }
    .flex_mobile{
        display: block;
    }
    .protect_item{
        margin-bottom: 40px;
    }
    .item_container_blog{
        max-width: 500px;
        margin: 20px auto;
    }
    .footer_left{
        display: block;
        text-align: center;
    }
    .footer_logo{
        display: inline-block;
        margin: 0px auto;
    }
    .footer_slogan{
        max-width:250px ;
        padding: 20px 0px 0px 0px;
        margin: 0px auto;
        border-left: 0px solid #5B558C;
        border-top: 1px solid #5B558C;
    }
    .footer_contact{
        right: 0px;
        text-align: center;
        border-bottom: 1px solid #d6d4e4;
        margin: 10px auto;
    }
    .teleg_flex_footer{
        align-items: center;
        justify-content: center;
    }
    .teleg_flex_footer{
        margin: 20px;
    }
    .teleg_flex_footer img{
        margin: 10px;
    }
    .download {
        background-image: none;
    }
    .content_download{
        left: 0;
        margin: 30px auto;
    }
}
@media(max-width:550px){
    .item_container_blog{
        max-width: 400px;
        margin: 20px auto;
    }
    .section_1_titel{
        font-size: 35px;
        z-index: 2;
    }
    .section_1_right{
        display: none;
    }
    .section_1_left{
        position: relative;
        opacity: 1;
    }
    .mobilse_befote{
        position: relative;
        z-index: 2;
    }
    .section_1_left::before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
        background:url("img/2.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    .container_content{
        padding: 0px 7px;
    }
    .protect_titel{
        font-size: 35px;
    }
}
@media(max-width:320px){
    .section_1_left::before{
        opacity: 0.1;
    }
    .header_slogan{
        display: none;
    }
    .buttons{
        display: block;
        margin: 30px auto 10px auto;
    }
    .section_1_btn1 {
        margin: 6px auto;
        width: 140px;
        height: 40px;
    }
    .section_1_titel{
        font-size: 25px;
        margin: 0px auto 30px auto;
    }
    .section_1_text{
        font-size: 16px;
    }
    .about_titel{
        margin: 20px 0px 50px 0px; 
    }
}
